@charset "UTF-8";
/*
*  Google Fonts에서 IBM Plex Sans KR 글씨체 가져옴 
*/
@import
	url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap')
	;
/*
* Google Fonts에서 Black Han Sans 글씨체 가져옴
*/
@import
	url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap')
	;
/*
* 네비게이션 바 맨 왼쪽 홈 링크 글씨 설정
*/
#home-link {
	font-family: "Black Han Sans";
	font-size: 24px;
	color: white;
}

/*
* 나머지 네비게이션 바 링크 글씨 부분 설정
*/
.nav-link {
	font-family: "Black Han Sans";
	font-size: 18px;
	color: white;
}

/*
* 첫 페이지 메인 배경
*/
#section1 {
	height: 100vh;
	background-repeat: no-repeat;
	background-size: contain;
	background: url("/aruaru/images/restaurant_3.jpg") fixed;
}

/*
*   BOOK YOUR RESERVATION 글자 사이즈, 위치, 색깔, 크기 및 애니메이션 설정
*/
#font1 {
	position: absolute;
	font-size: 52px;
	top: 250px;
	left: 225px;
	width: 258px;
	color: beige;
	animation: slide 2s;
}

/*
*	"원하는 식당을 ~" 글자 사이즈, 위치, 색깔, 크기 및 애니메이션 설정
*/
#font1content {
	position: absolute;
	color: beige;
	top: 450px;
	left: 225px;
	animation: slide 3s;
}

/*
* BOOK YOUR RESERVATION 맨 밑 파란 버튼 위치 및 애니메이션 설정
*/
#btsection2 {
	position: absolute;
	top: 500px;
	left: 225px;
	animation: slide 4s;
}

/*
*  오른쪽 사진 위치 설정
*/
.photo {
	position: absolute;
	top: 150px;
	right: 275px;
}

/*
* 사이드바 위치, 크기 및 배경 설정
*/
.sidenav {
	top: 175px;
	height: 435px;
	width: 100px;
	position: fixed;
	right: 0px;
	background-color: #111;
	overflow-x: hidden;
	background-color: rgba(255, 255, 255, 0.5);
}



/*
* 첫 페이지 두 번째 메인 배경
*/
#section2 {
	height: 100vh;
	background-size: contain;
	background: url("/aruaru/images/restaurant_2.jpg") fixed;
}

/*
* section2 시작할 때 container로 간격 줌
*/
#container4 {
	height: 50px;
}

/*
* 예약 검색 부분 위치 크기 및 배경 설정
*/
#container2 {
	width: 1200px;
	height: 115px;
	margin-left: 130px;
	background-color: rgba(255, 255, 255, 0.5);
	animation: slide2 1s;
}

/*
*  container2와 container1사이 빈 container로 간격 줌
*/
#container3 {
	height: 50px;
}

/*
* 회전화면 위치 (section2 시작에서 아래로 400px 위치)
*/
#container1 {
	top: 400px;
}

/*
* 회전화면 안쪽부분 길이, 위치 및 애니메이션 설정
*/
#demo {
	width: 1200px;
	right: 75px;
	animation: slide2 1s;
}
/*
* 회전회면 왼쪽이동 버튼 (section2 시작에서 아래로 500px 위치)
*/
#carousel-next-icon {
	top: 500px;
}

/*
* 회전화면 오른쪽 이동 버튼 (section2 시작에서 아래로 500px 위치)
*/
#carousel-prev-icon {
	top: 500px;
}

/*
* 회전화면 밑에 쪽 ___ 부분 위치 (section2 시작에서 아래로 500px 위치)
*/
#carousel-indicators {
	position: absolute;
	top: 500px;
}

/*
* 첫 페이지 세 번째 화면 메인 배경
*/
#section3 {
	height: 100vh;
	background-size: contain;
	background: url("/aruaru/images/restaurant_4.jpg") fixed;
}

/*
* 서비스 소개 화면 왼쪽 R
*/
#r1 {
	position: absolute;
	padding-top: 85px;
	padding-left: 750px;
}

/*
* 서비스 소개 화면 오른쪽 R
*/
#r2 {
	position: absolute;
	padding-top: 285px;
	padding-left: 840px;
}

/*
*  서비스 소개 부분 왼쪽 소개글 위치 및 애니메이션 설정
*/
#profile {
	position: absolute;
	top: 1700px;
	left: 300px;
	animation: slide_profile 3s;
}

/*
*  푸터(맨 밑의 검은색 배경 글 부분)
*/
footer {
	height: 225px;
}

/*
* slide 애니메이션 설정 (왼쪽 -100px 위치에서 225px 위치까지, 투명도 0에서 1로 점점 나타남)
*/
@keyframes slide {
	from { 
	left:-100px;
	opacity: 0;
	}
	TO
 {
	left: 225px;
	opacity: 1;
}

}

/*
* disappear 애니메이션 설정 (왼쪽 225px 위치에서 -100px  위치까지, 투명도 0에서 1로 점점 사라짐)
*/
@keyframes disappear {
	from { 
	left:225px;
	opacity: 1;
	}
	to
 	{
	left: -100px;
	opacity: 0;
	}

}

/*
* slide 애니메이션 설정 (위쪽 -100px 위치에서 위쪽 0px 위치까지, 투명도 0에서 1로 점점 나타남)
*/
@keyframes slide2 {
	from 
 	{ 
 	top:-100px;
	opacity: 0;
	}
	to
 	{
	top: 0px;
	opacity: 1;
	}

}

/*
* disappear 애니메이션 설정 (위쪽 0px 위치에서 -100px 위치까지, 투명도 1에서 0으로 점점 나타남)
*/
@keyframes disappear2 {
	from
	{ 	
 	top:0px;
	opacity: 1;
	}
	to
 	{
	top: -100px;
	opacity: 0;
}

}

/*
* slide_profile 애니메이션 설정 (왼쪽 -100px 위치에서 왼쪽 300px 위치까지, 투명도 0에서 1로 점점 나타남)
*/
@keyframes slide_profile {
	from { 
	left:-100px;
	opacity: 0;
	}
	to
    {
	left: 300px;
	opacity: 1;
    }

}

/*
* disappear_profile 애니메이션 설정 (왼쪽 300px 위치에서 왼쪽 -100px 위치까지, 투명도 1에서 0으로로 점점 사라짐)
*/
@keyframes disappear_profile {
	from { 
	left:300px;
	opacity: 1;
	}
	to
 	{
	left: -100px;
	opacity: 0;
	}
}